<h1><%= link_to 'Homepage', employers_url %></h1>

<%= render 'form', employer: @employer %>

<%= link_to 'Show', @employer %> |
<%= link_to 'Back', employers_path %>
<%= link_to 'goto', employers_path %>
